<mat-sidenav mode="side" opened class="sidenav-wrapper">
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/featured">
      <div class="item-content">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <span matLine>Home</span>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscription">
      <div class="item-content">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="subscription">subscription</mat-icon>
        <span matLine>Subscibers</span>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history">
      <div class="item-content">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="history">history</mat-icon>
        <span matLine>History</span>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos">
      <div class="item-content">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="thumb_up">thumb_up</mat-icon>
        <span matLine>Liked Videos</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>

